.library {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

#displayBooks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}